.stMultiSelect {
    max-width: 50%;
}

/* All multiselect, adjusting the text inside the menus*/
.stMultiSelect [data-baseweb=select] span{
    max-width: 300px;
    font-size: 0.7rem;
}

div.

/* Expanders*/
div.css-12w0qpk.e1tzin5v1 {
    background-color: #EEEEEE;
/*    border: 1px solid #DCDCDC; */
    padding: 1%;
    border-radius: 10px;
    text-align: center;

}

/* Metric objects*/
div.css-1fcdlhc.e1s6o5jp0 {
    background-color: #EEEEEE;
}


[data-testid="stSidebarNav"] {
    background-image: url(https://raw.githubusercontent.com/christianheins/wggesucht/main/images/2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 0%;
    padding-top: 130px;

}

[data-testid="stSidebarNav"]::before {
    content: "Pages";
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
    position: relative;
    top: 100px;
}

div.map_div {
    border-radius: 25px;
}